*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}



/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}

body {
  overflow: hidden;
  background-color:black;
}


.title{
  position: absolute;
  font-family: 'DM Mono', monospace;
  color: yellow;
  font-size: 30px;
  margin-left: 80px;
  margin-top: -12px;
  z-index: 100;
}

.title1 {
  position: absolute;
  left: 0%;
  margin-top: -10px;
  font-family: 'DM Mono', monospace;
  color: yellow;
  font-size: 90px;
   text-align: center;
  line-height: 1.1;
}

.Table{
  position: absolute;
  top: 50%;
  left: 6%;
  width: 100%;
  color: yellow;
  font-family: 'DM Mono', monospace;
  font-size: 25px;
  z-index: 100;
  text-align: justify;
 text-justify: inter-word;
}

.explain{
  position: absolute;
  top: 35%;
  /* left: 6%; */
  width: 100%;
  color: yellow;
  font-family: 'DM Mono', monospace;
  font-size: 14.5px;
  font-style: italic;
  font-weight: lighter;
  z-index: 100;
  line-height: 1.1;
  text-align: justify;
  text-align: center;
  text-justify: inter-word;
}

.link{
  position: absolute;
  font-family: 'DM Mono', monospace;
  color: yellow;
  font-size: 30px;
  left: 75%;
  top: 90%;
  /* margin-left: 77%; */
  z-index: 300;
}


a:link {
  color: yellow;
  text-decoration: none;

}

/* visited link */
a:visited {
  color: yellow;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: yellow;
  font-style: italic;
}

/* selected link */
a:active {
  color: yellow;
}



.main-button {
  margin-top: 200px;
  background-color: yellow;
  color: black;
  font-family: 'DM Mono', monospace;
  padding: 10px;
  /* border-radius: 10%; */
  position: absolute;
  z-index: 100;

  -webkit-box-shadow: 2px 3px 5px 6px yellow;
  -moz-box-shadow:    2px 3px 5px 6px yellow;
  box-shadow:         2px 0px 5px 1px yellow;
}

.main-button1 {
  margin-top: 200px;
  background-color: black;
  color: yellow;
  font-family: 'DM Mono', monospace;
  /* font-size: 12px; */
  padding: 10px;
  /* border-radius: 10%; */
  position: absolute;
  z-index: 100;

  -webkit-box-shadow: 2px 3px 5px 6px yellow;
  -moz-box-shadow:    2px 3px 5px 6px yellow;
  box-shadow:         2px 0px 5px 1px yellow;
}


.start-audio-btn{
  margin-top: 60px;
  margin-left: 80px;
  z-index: 200;

}

.start-audio-btn1{
  margin-top: 700px;
  margin-left: 80px;
  z-index: 200;

}

.start-audio-btn2{
  margin-top: 700px;
  margin-left: 80px;
  z-index: 200;

}



.hide-text-btn{
  margin-top: 710px;
  margin-left: 1140px;
opacity: 0%;
}

/* #ticker-container {
    background-color: rgb(2, 19, 71);
    height:100px;
    padding-left:0px;
}

#ticker-text {
  font-size: 40px;
  color: white;
  font-weight: bold;
  font-family: 'Codystar', cursive;
} */

.grid-pane {
  position: absolute;
  margin: 40px;
  /* top: -4px; */
  top: 20px;
  vertical-align: top;
  /* border: 30px solid black; */
  border: 8px solid black;
  opacity: 100%;
  mix-blend-mode: screen;
  cursor: ew-resize;
  z-index: 100;


  -webkit-box-shadow: 2px 3px 5px 6px yellow;
  -moz-box-shadow:    2px 3px 5px 6px yellow;
  box-shadow:         2px 3px 5px 4px yellow;
  /* box-shadow -> for chrome */
  /* border-radius:80%; */
}


.line {
  border-left: 15px solid black;
  margin-top: -110px;
  height: 1000px;
  position: absolute;
  opacity: 100%;
  mix-blend-mode: difference;


  -webkit-box-shadow: 2px 3px 5px 6px yellow;
  -moz-box-shadow:    2px 3px 5px 6px yellow;
  box-shadow:         2px 0px 5px 2px yellow;
  /* border-radius: 80%; */
}

/* .grid-item {
  width: 10%;
  height: 100px;
  border: 1px solid rgb(2, 19, 71);
}

.grid-item:hover {
  width: 10%;
  height: 100px;
  border: 1px solid black;
  background-color: rgb(2, 19, 71);
} */

.grid-content img.image-popup {
  opacity: 0;
  display: block;
  position: absolute;
  /* mix-blend-mode: hard-light; */
  /* transition: all 0.8s ease-in-out; */

}

.grid-content p.text-popup {
  opacity: 0;
  color: yellow;
  transition: all 0.8s ease-in-out;
}

.showImageOrText {
  opacity: 1 !important;
}

.hideTexts {
  opacity: 0 !important;
  transition: all 0.8s ease-in-out;
}

/* .textBlock0{
  position: absolute;
  transform: rotate(-90deg);
  top: 40%;
  left: -9.5%;
  font-family: 'DM Mono', monospace;
  font-size: 20px;
  z-index: 100;
} */

.video0 {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  mix-blend-mode: normal;
  transition: all 0.8s ease-in-out;
}
